{% extends 'base.html.twig' %}

{% block title %}Hello BackOfficeController!{% endblock %}

{% block body %}
    <div class="contianer my-5 text-center">
        <h1>BackOffice</h1>
        <a class="btn btn-primary" href={{path("app_product_index")}}>Product gestion</a>
    </div>
{% endblock %}
